@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}
.shadow-custom {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 13px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
}
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5rem;
}
button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
}
li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
