@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}
.shadow-custom {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.shadow-card {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 13px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
}
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5rem;
}
h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}
button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 13px;
}
span{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.button-gagal{
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
}
li,
p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.signatureCanvas {
  @apply w-[336px] h-[170px] border-gray-300 rounded-xl border-2;
}
